input[type='file']::file-selector-button {
  border: 1px solid #00cec9;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: transparent;
  transition: 1s;
  color: #fff;
  margin-right: 20px;
}

input[type='file']::file-selector-button:hover {
  background-color: transparent;
  border: 1px solid rgb(123, 206, 123);
  transition: 1s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gelatine {
  animation: gelatine 0.5s;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
